<div class="well" ng-show="showAdd">
	<form ng-submit="submitDoc()" novalidate>
		<h2 class="text-center">Add new Document</h2>
		<div class="form-group">
			<label for="title"><span style="color:red">*</span> Document Title</label>
			<input type="text" class="form-control" id="title" ng-model="addD.title">
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea class="form-control" id="description" ng-model="addD.description"></textarea>
		</div>
		<div class="form-group">
			<label for="usage">Usage</label>
			<textarea id="usage" ng-model="addD.usage" ui-tinymce="tinymceUsage" class="form-control"></textarea>
		</div>
		<category></category>
		<related></related>
		<div class="form-group">
			<label>Links</label>
			<input type="text" ng-model="addD.links" ng-list=";" class="form-control" />
		</div>
		<div class="form-group">
			<label>Notes</label>
			<textarea ng-model="addD.notes" class="form-control"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="button" class="btn btn-default" ng-click="showAdd=false;cancelAddDoc()">Cancel</button>
	</form>
</div>