<br>
<br>
<!-- Bug 1 -->
<div hidden ng-cloak>
	<category></category>
	<related></related>
</div>
<!-- /Bug 1 -->
<div class="col-md-10 col-md-offset-1">
	<!-- Search Options -->
	<div class="col-md-1 padding-zero" style="max-width: 80px">
		<select class="form-control" ng-model="selector" ng-init="selector='Doc'">
			<option value="Doc">Doc</option>
			<option value="Quiz">Quiz</option>
		</select>
	</div>
	<!-- /Search Options -->
	<!-- Search Bar -->
	<div class="col-md-10 padding-zero">
		<input type="text" class="form-control" placeholder="[skill name] [specific document]  eg. java collections" ng-model="keyword" ng-change="searchTitle(keyword)" id="search-bar" search-focus>
		<!-- Display Search -->
		<div class="dropdown open" ng-show="showSearchDropDown">
		  <ul class="dropdown-menu col-md-12">
		    <li ng-repeat="dt in findedTile">
		    	<a href="#" to-focus="{{dt.title}}" data-data-id="{{dt._id}}" id="search-{{$index}}">{{dt.title}}</a>
		    </li>
		  </ul>
		</div>
		<!-- /Display Search -->
	</div>
	<!-- /Search Bar -->
	<div>
		<button class="btn btn-primary col-md-1" style="max-width: 40px" ng-click="doSearch()">
			<i class="fa fa-search" aria-hidden="true"></i>
		</button>
	</div>
</div>
<br>

<list-que ng-show="selector == 'Quiz'" ng-cloak></list-que>
<list-doc ng-show="selector == 'Doc'" ng-cloak></list-doc>