<div ng-init="getSettings()">
	<h2 class="font-center">Settings</h2>
	
	<div class="form-group">
		<label for="version">Web App Version</label>
		<input type="text" id="version" class="form-control" ng-model="settings.version" />
	</div>
	<div class="form-group">
		<label for="admin">Admin</label>
		<input type="text" id="admin" class="form-control" ng-model="settings.admin" />
	</div>
	<div class="form-group">
		<label for="web-title">Web Title</label>
		<input type="text" id="web-title" class="form-control" ng-model="settings.web_title" />
	</div>
	<div class="form-group">
		<label for="web-history">Version History</label>
		<textarea class="form-control" id="web-history" ng-model="settings.history" style="resize: vertical;"></textarea>
	</div>
	<div class="font-center">
		<button class="btn btn-primary" ng-click="updateSettings(settings)">Update Settings</button>
	</div>
	<hr>

	<div class="form-group">
		<label>Current DB Backup version: {{settings.db_backup}}</label>
		<br>
		<button class="btn btn-primary" ng-click="backupDB()" onClick="this.disabled=true">Make a new Backup</button>
	</div>

</div>