[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

code[class*="language-"], pre[class*="language-"] {
	white-space: pre-wrap;		
}
.div-center {
	margin: auto;
	width: 50%;
}
.show-hide {
	transition: all linear 0.5s;
}
.show-hide.ng-hide {
	opacity: 0;
}
.strike {
	color: red;
    text-decoration: line-through;
}
.buttom-right {
	float: right;
}
.padding-zero {
	padding: 0;
}
.padding-left-zero {
	padding-left: 0;
}
.margin-zero {
	margin: 0;
}
.footer-style {
	background-color: #F0F0F0;
}
.category-btn li{
	margin: 5px 5px;
}
.font-center {
	text-align: center;
}
.font-center-bold {
	text-align: center;
	font-weight: bold;
}
.same-line {
	display:inline;
}
.font-bold {
	font-weight: bold;
}
.lists-style {
	max-width: 500px;
	margin-left:auto;
    margin-right:auto;
    display:block;
}
.body-style {
	max-width: 1000px;
}
.next-icon {
	padding-left: 10px
}

@media only screen and (max-device-width: 480px) {
	body {
		padding: 20px;
	}
	div.container {
		margin: 0;
		width: 100%;
		padding: 0;
	}
	p pre {
		font-size: 11px;
	}
}