<div style="margin-left: 20px">
	<!-- Navigation Bar -->
	<div ng-init="getCategories()">
		<ul class="category-btn">
			<li ng-repeat="mc in mainCategories">
				<h4><strong>{{mc.main}}</strong></h4>
				<label class="btn btn-default" ng-repeat="subc in mc.sub" ng-click="goToSubCatPage(mc.main,subc)">
					<input type="radio" autocomplete="off" name="category"> {{subc}}
					<span class="badge" sub-cat-counts="{{subc}}"></span>
				</label>
			</li>
			<li ng-show="isLoggedIn">
				<label class="btn btn-warning" ng-click="showAdd=true">+</label>
			</li>
		</ul>
	</div>
	<br>
	<!-- /Navigation Bar -->
	<!-- Add new document -->
	<div class="col-sm-8 col-sm-offset-2" ng-show="showAdd">
		<form ng-submit="submitCat()" novalidate>
			<h2 class="text-center">Add new Category</h2>
			<div class="form-group">
				<label for="category"><span style="color:red">*</span> Category Name</label>
				<input type="text" class="form-control" id="category" ng-model="addCat.main">
			</div>
			<div class="form-group">
				<label for="sub">Sub</label>
				<input class="form-control" id="sub" ng-model="addCat.sub"/>
			</div>
			<div class="form-group">
				<label for="group"><span style="color:red">*</span> Group</label>
				<select class="form-control" id="group" ng-model="addCat.group">
					<option value="doc">Document</option>
					<option value="que">Question</option>
				</select>
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-default" ng-click="showAdd=false">Cancel</button>
		</form>
	</div>
	<!-- /Add new document -->
</div>
<list-doc></list-doc>
