<div ng-repeat="question in filteredQuestions" on-finish-repeat="onFinishRepeat">
	<!-- Show Question Area -->
	<div class="panel panel-default" ng-show="!question.isUpdateQuestion">
		<!-- Title -->
	    <div class="panel-heading" ng-click="question.showAnswer=!question.showAnswer" style="cursor: pointer">
	        <h3 class="panel-title">
	        	<strong ng-bind="question.title"></strong>
	        </h3>
	    </div>
	    <!-- /Title -->
	    <!-- Panel Body -->
	    <div class="panel-body show-hide" ng-show="question.showAnswer">	
		    <!-- Answer -->
		    <div class="form-group">
		    	<p ng-bind-html="question.answer"></p>
		    	<button class="btn btn-link" style="float: right;" ng-click="question.showCorrect=true">Not Correct?</button>
		    </div>
		    <!-- Correct Answer -->
		    <form ng-show="question.showCorrect" novalidate>
		    	<hr style="clear: both">
		    	<div class="form-group">
			    	<label>Leave a Comment to Lewis(Admin)</label>
			    	<textarea class="form-control" ng-model="editor.contents"></textarea>	
			    </div>
			    <div class="form-group">
			    	<label>Your name (Option)</label>
			    	<input type="text" class="form-control" ng-model="editor.name"/>
			    </div>
		    	<div class="form-group">
		    		<button class="btn btn-primary" type="
		    		submit" ng-click="sendRequest(editor, question)">Submit</button>
		    		<button class="btn btn-default" type="reset" ng-click="question.showCorrect=false">Cancel</button>
		    	</div>
		    </form>
		    <!-- /Correct Answer -->
		    <hr style="clear: both">
		    <!-- /Answer -->
	    	<!-- Related -->
	    	<div ng-show="question.related.length != 0" class="form-group">
    			<label><i class="fa fa-share" aria-hidden="true"></i><span class="next-icon">Related</span></label>
	        	<div ng-repeat="curRelated in question.related">
					<a href="/{{curRelated.group}}?id={{curRelated._id}}" target="_blank" ng-bind="curRelated.title"></a>
				</div>
    		</div>
	    	<!-- /Related -->
	    	<!-- Notes -->
	    	<div class="form-group" ng-if="question.notes">
				<label>Notes</label>
				<textarea class="form-control" ng-model="question.notes" readonly></textarea>
			</div>
			<!-- /Notes -->
		    <!-- Question belongs -->
	    	<div ng-show="question.company" class="form-group">
	    		<i class="fa fa-users" aria-hidden="true">
	    			<strong style="padding-left: 10px"><span ng-bind="question.company"></span> - <span ng-bind="question.position"></span></strong>
	    		</i>
	    	</div>
	    	<!-- /Question belongs -->
	    	<!-- Links -->
	    	<div class="form-group" ng-if="question.links.length>0">
	    		<label><i class="fa fa-link" aria-hidden="true"></i><span class="next-icon">External Links</span></label>
	    		<div> 
	    			<a href="{{link}}" target="_blank" style="display: block;overflow: auto" ng-repeat="link in question.links track by $index">{{link}}</a>
	    		</div>
	    	</div>
	    	<div ng-show="question.author">
				<i class="fa fa-calendar-times-o" aria-hidden="true"></i><span class="footer-style next-icon">Updated by <span ng-bind="question.author"></span> on <span ng-bind="question.created | date:'yyyy-MM-dd HH:mm:ss'"></span></span>
			</div>
	    	<!-- /Links -->
	    	<!-- Update and Remove Button -->
		    <div>
		    	<button ng-if="isLoggedIn" class="btn btn-link padding-left-zero" ng-click="updateQuePage(question)"><i class="fa fa-pencil"></i></button>
		    	<button ng-if="isLoggedIn" class="btn btn-link padding-left-zero" ng-click="deleteQuestion(question)"><i class="fa fa-remove"></i></button>
		    	<!-- CopyClipper -->	
		    	<button class="btn btn-link padding-left-zero"  ngclipboard data-clipboard-text="{{hostName}}/{{question.group}}?id={{question._id}}" onClick="alert('Link has copy to the clipboard!')"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
		    	<!-- /CopyClipper -->
		    </div>
		    <!-- /Update and Remove Button -->
	    </div>
	    <!-- /Panel Body -->
	</div>
	<!-- /Show Question -->
    <!-- Update Question Area-->
    <div ng-show="question.isUpdateQuestion" class="well">
    	<!-- Update Title -->
    	<div class="form-group">
    		<label for="uTitle">Update Title</label>
    		<input type="text" id="uTitle" class="form-control" ng-model="question.title"/>
    	</div>
    	<!-- /Update Title -->
    	<!-- Update Sub Title -->
    	<div class="form-group">
			<label for="usub-title">Sub Title(seperate by ";")</label>
			<input type="text" class="form-control" id="usub-title" ng-model="question.sub_title" ng-list=";">
		</div>
    	<!-- /Update Sub Title -->
    	<!-- Update Contents -->
    	<div class="form-group">
    		<label for="uContents"><strong>Updated Contents:</strong></label>
    		<textarea class="form-control" id="uContents" ng-model="question.answer" ui-tinymce="tinymceUsage"></textarea>
    	</div>
    	<!-- /Update Contents -->
    	<!-- Update Links -->
    	<div class="form-group">
			<label>Update Links</label>
			<input ng-model="question.links" ng-list=";" class="form-control" />
		</div>
    	<!-- /Update Links -->
    	<!-- Update Notes -->
    	<div class="form-group">
			<label>Update Notes</label>
			<textarea class="form-control" ng-model="question.notes"></textarea>
		</div>
		<!-- /Update Notes -->
    	<!-- Update Question belongs -->
    	<div>
			<div class="form-group">
				<label for="uCompany">Company | </label>
				<span>
					<input type="checkbox" ng-model="question.unknownCompany"/>
					<strong>Unknown</strong>
				</span>
				<input type="text" id="uCompany" class="form-control" ng-model="question.company" ng-disabled="question.unknownCompany" />
			</div>
			<div class="form-group">
				<label for="uPosition">Position</label>
				<select id="position" class="form-control" ng-model="question.position">
					<option>Vendor Call</option>
					<option>Front End</option>
					<option>Back End</option>
					<option>Full Stack</option>
				</select>
			</div>
    	</div>
    	<!-- /Update Question belongs -->
    	<related></related>
    	<category></category>
    	<!-- Update Buttons -->
    	<div class="form-group">
    		<button class="btn btn-primary btn-xs" ng-click="updateQuestion(question, selRelateds, categorModel_)">Update</button>
    		<button type="reset" class="btn btn-default btn-xs" ng-click="cancelUpdateQue(question)">Cancel</button>
    	</div>
    	<!-- /Update Buttons -->
    </div>
    <!-- /Update Question Area-->
</div>