<div>
	<div ng-show="filteredQuestions">
		<hr>
		<label># per page: </label>
		<input type="number" ng-model="numPerPage" style="max-width: 40px" />
	</div>
	<br><br>
	<div ng-repeat="question in filteredQuestions">
		<!-- Show Question Area -->
		<div class="panel panel-default" ng-show="!question.isUpdateQuestion">
			<!-- Title -->
		    <div class="panel-heading" ng-click="question.showAnswer=!question.showAnswer" style="cursor: pointer">
		        <h3 class="panel-title">
		        	<strong>{{question.title}}</strong>
		        </h3>
		    </div>
		    <!-- /Title -->
		    <!-- Panel Body -->
		    <div class="panel-body show-hide" ng-show="question.showAnswer">
			    <!-- Answer -->
			    <p ng-bind-html="question.answer"></p>
			    <!-- /Answer -->
		    	<!-- Related -->
		    	<div ng-show="question.related.length != 0">
		    		<hr>
	    			<label>Related</label>
		        	<div ng-repeat="curRelated in question.related">
						<a href="/{{curRelated.group}}?id={{curRelated._id}}" target="_blank">{{curRelated.title}}</a>
					</div>
	    		</div>
		    	<!-- /Related -->
		    	<hr>
		    	<!-- Link -->
		    	<div class="form-group">
		    		<label for="link">Link</label>
		    		<input class="form-control" value="{{hostName}}/{{question.group}}?id={{question._id}}" />
		    	</div>
		    	<!-- /Link -->
		    </div>
		    <!-- /Panel Body -->
		    <!-- Update and Remove Button -->
		    <div ng-show="isLoggedIn">
		    	<button class="btn btn-link" ng-click="updateQuePage(question)"><i class="fa fa-pencil"></i></button>
		    	<button class="btn btn-link" ng-click="deleteQuestion(question)"><i class="fa fa-remove"></i></button>
		    </div>
		    <!-- /Update and Remove Button -->
		</div>
		<!-- /Show Question -->
	    <!-- Update Question Area-->
        <div ng-show="question.isUpdateQuestion" class="well">
        	<!-- Update Title -->
        	<div class="form-group">
        		<label for="uTitle">Update Title</label>
        		<input type="text" id="uTitle" class="form-control" ng-model="question.title"/>
        	</div>
        	<!-- /Update Title -->
        	<!-- Update Contents -->
        	<div class="form-group">
        		<label for="uContents"><strong>Updated Contents:</strong></label>
        		<textarea class="form-control" id="uContents" ng-model="question.answer" ui-tinymce="tinymceUsage"></textarea>
        	</div>
        	<!-- /Update Contents -->
        	<related></related>
        	<category></category>
        	<!-- Update Buttons -->
        	<div class="form-group">
        		<button class="btn btn-primary btn-xs" ng-click="updateQuestion(question, selRelateds, categorModel_)">Update</button>
        		<button type="reset" class="btn btn-default btn-xs" ng-click="cancelUpdateQue(question)">Cancel</button>
        	</div>
        	<!-- /Update Buttons -->
        </div>
	    <!-- /Update Question Area-->
	</div>
	<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="numPerPage" ng-show="filteredQuestions"></ul>
</div>